<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>spiderBoss15.png</key>
		<dict>
			<key>x</key>
			<integer>225</integer>
			<key>y</key>
			<integer>480</integer>
			<key>width</key>
			<integer>204</integer>
			<key>height</key>
			<integer>248</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss14.png</key>
		<dict>
			<key>x</key>
			<integer>225</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>242</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss13.png</key>
		<dict>
			<key>x</key>
			<integer>225</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>195</integer>
			<key>height</key>
			<integer>235</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss12.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>677</integer>
			<key>width</key>
			<integer>198</integer>
			<key>height</key>
			<integer>225</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss11.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>458</integer>
			<key>width</key>
			<integer>209</integer>
			<key>height</key>
			<integer>218</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss10.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>250</integer>
			<key>width</key>
			<integer>223</integer>
			<key>height</key>
			<integer>207</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-14</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss9.png</key>
		<dict>
			<key>x</key>
			<integer>652</integer>
			<key>y</key>
			<integer>384</integer>
			<key>width</key>
			<integer>235</integer>
			<key>height</key>
			<integer>191</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-14</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss8.png</key>
		<dict>
			<key>x</key>
			<integer>652</integer>
			<key>y</key>
			<integer>197</integer>
			<key>width</key>
			<integer>242</integer>
			<key>height</key>
			<integer>186</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss7.png</key>
		<dict>
			<key>x</key>
			<integer>652</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>195</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-16</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss6.png</key>
		<dict>
			<key>x</key>
			<integer>430</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>221</integer>
			<key>height</key>
			<integer>206</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss5.png</key>
		<dict>
			<key>x</key>
			<integer>430</integer>
			<key>y</key>
			<integer>467</integer>
			<key>width</key>
			<integer>209</integer>
			<key>height</key>
			<integer>217</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss4.png</key>
		<dict>
			<key>x</key>
			<integer>430</integer>
			<key>y</key>
			<integer>239</integer>
			<key>width</key>
			<integer>196</integer>
			<key>height</key>
			<integer>227</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss3.png</key>
		<dict>
			<key>x</key>
			<integer>430</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>194</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss2.png</key>
		<dict>
			<key>x</key>
			<integer>225</integer>
			<key>y</key>
			<integer>729</integer>
			<key>width</key>
			<integer>199</integer>
			<key>height</key>
			<integer>242</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>301</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>spiderBoss1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>204</integer>
			<key>height</key>
			<integer>248</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>300</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
	</dict>
</dict>
</plist>