<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>zombie29.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>639</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie28.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>726</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie27.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>813</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie26.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>901</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie25.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie24.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>92</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie23.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>183</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie22.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>275</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie21.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>368</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie20.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>462</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie19.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>644</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie18.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>738</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie17.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>834</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie16.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie15.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie14.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>193</integer>
			<key>width</key>
			<integer>93</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie13.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>289</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie12.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>385</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie11.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>481</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie10.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>576</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie8.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie7.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>188</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>280</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>371</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>461</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>551</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie2.png</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>556</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie1.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>670</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>zombie0.png</key>
		<dict>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>757</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
	</dict>
</dict>
</plist>